<!--DefaultTypeAndFormat-->
    <div class="container">
      <div class="row">
        <div class="form-group col-xs-12">
          <button id="addButton" class="btn button-primary" [routerLink]="['new'] ">Add</button>
        </div>
      </div>
    </div>
    
    <parentFilterAndPaging #parentFilterAndPagingRef 
                       [paginationData]="paginationData" 
                       [query]="query"
                       [filterType]="filterType"
                       [fieldFilterModel]="fieldFilterModel"
                       [filterValue]="filterValue"
                       (onListClicked)="getList()" 
                       (onPageChanged)="pageChanged($event)" 
                       (onUpdatingSort)="updateSort($event.value)"
                       (onUpdatingFilter)="updateFilter($event)"> 
  <!--table-->
  <div tableToInject class="table-responsive">
    <table class="table table-striped table-hover table-baddressed">
      <thead class="thead-default">
        <tr>
          <!--actions-->
          <th style="min-width: 100px;">
            Actions
          </th>
          
          <!--id-->
          <th>
            <button class="btn btn-default" (click)="onColumnHeaderClicked('id')">
              {{ formMetaData.properties.id['x-ncg'].label }}
              <i class="glyphicon" [class.glyphicon-arrow-down]="query.orderBy === 'id'"
                [class.glyphicon-arrow-up]="query.orderBy === 'id desc'"></i>
            </button>
          </th>
          
          <!--someArray-->
          <th>
            <button class="btn btn-default" (click)="onColumnHeaderClicked('someArray')">
              {{ formMetaData.properties.someArray['x-ncg'].label }}
              <i class="glyphicon" [class.glyphicon-arrow-down]="query.orderBy === 'someArray'"
                [class.glyphicon-arrow-up]="query.orderBy === 'someArray desc'"></i>
            </button>
          </th>
          
          <!--someBoolean-->
          <th>
            <button class="btn btn-default" (click)="onColumnHeaderClicked('someBoolean')">
              {{ formMetaData.properties.someBoolean['x-ncg'].label }}
              <i class="glyphicon" [class.glyphicon-arrow-down]="query.orderBy === 'someBoolean'"
                [class.glyphicon-arrow-up]="query.orderBy === 'someBoolean desc'"></i>
            </button>
          </th>
          
          <!--someIntegerInt32-->
          <th>
            <button class="btn btn-default" (click)="onColumnHeaderClicked('someIntegerInt32')">
              {{ formMetaData.properties.someIntegerInt32['x-ncg'].label }}
              <i class="glyphicon" [class.glyphicon-arrow-down]="query.orderBy === 'someIntegerInt32'"
                [class.glyphicon-arrow-up]="query.orderBy === 'someIntegerInt32 desc'"></i>
            </button>
          </th>
          
          <!--someNumber-->
          <th>
            <button class="btn btn-default" (click)="onColumnHeaderClicked('someNumber')">
              {{ formMetaData.properties.someNumber['x-ncg'].label }}
              <i class="glyphicon" [class.glyphicon-arrow-down]="query.orderBy === 'someNumber'"
                [class.glyphicon-arrow-up]="query.orderBy === 'someNumber desc'"></i>
            </button>
          </th>
          
          <!--someNumberDouble-->
          <th>
            <button class="btn btn-default" (click)="onColumnHeaderClicked('someNumberDouble')">
              {{ formMetaData.properties.someNumberDouble['x-ncg'].label }}
              <i class="glyphicon" [class.glyphicon-arrow-down]="query.orderBy === 'someNumberDouble'"
                [class.glyphicon-arrow-up]="query.orderBy === 'someNumberDouble desc'"></i>
            </button>
          </th>
          
          <!--someString-->
          <th>
            <button class="btn btn-default" (click)="onColumnHeaderClicked('someString')">
              {{ formMetaData.properties.someString['x-ncg'].label }}
              <i class="glyphicon" [class.glyphicon-arrow-down]="query.orderBy === 'someString'"
                [class.glyphicon-arrow-up]="query.orderBy === 'someString desc'"></i>
            </button>
          </th>
          
          <!--someStringDateTime-->
          <th>
            <button class="btn btn-default" (click)="onColumnHeaderClicked('someStringDateTime')">
              {{ formMetaData.properties.someStringDateTime['x-ncg'].label }}
              <i class="glyphicon" [class.glyphicon-arrow-down]="query.orderBy === 'someStringDateTime'"
                [class.glyphicon-arrow-up]="query.orderBy === 'someStringDateTime desc'"></i>
            </button>
          </th>
          
          <!--someStringEmail-->
          <th>
            <button class="btn btn-default" (click)="onColumnHeaderClicked('someStringEmail')">
              {{ formMetaData.properties.someStringEmail['x-ncg'].label }}
              <i class="glyphicon" [class.glyphicon-arrow-down]="query.orderBy === 'someStringEmail'"
                [class.glyphicon-arrow-up]="query.orderBy === 'someStringEmail desc'"></i>
            </button>
          </th>
          
          <!--someStringUid-->
          <th>
            <button class="btn btn-default" (click)="onColumnHeaderClicked('someStringUid')">
              {{ formMetaData.properties.someStringUid['x-ncg'].label }}
              <i class="glyphicon" [class.glyphicon-arrow-down]="query.orderBy === 'someStringUid'"
                [class.glyphicon-arrow-up]="query.orderBy === 'someStringUid desc'"></i>
            </button>
          </th>
          
          <!--someStringUri-->
          <th>
            <button class="btn btn-default" (click)="onColumnHeaderClicked('someStringUri')">
              {{ formMetaData.properties.someStringUri['x-ncg'].label }}
              <i class="glyphicon" [class.glyphicon-arrow-down]="query.orderBy === 'someStringUri'"
                [class.glyphicon-arrow-up]="query.orderBy === 'someStringUri desc'"></i>
            </button>
          </th>
          
        </tr>
      </thead>

      <tbody>
        <!--rows-->
        <tr *ngFor="let item of listWithCount?.list">
          <!--actions-->
          <td>
            <button id="editButton" (click)="edit(item)" class="btn btn-sm btn-primary" [attr.aria-label]="edit"><i class="fa fa-edit"></i></button>
            <button id="deleteButton" (click)="delete(item[keyName])" class="btn btn-sm btn-danger" [attr.aria-label]="delete"><i class="fa fa-remove"></i></button>
          </td>
          
          <!--id-->
          <td>
            {{ item.id }}
          </td>
          <!--someArray-->
          <td>
            {{ item.someArray }}
          </td>
          <!--someBoolean-->
          <td>
            {{ item.someBoolean }}
          </td>
          <!--someIntegerInt32-->
          <td>
            {{ item.someIntegerInt32 }}
          </td>
          <!--someNumber-->
          <td>
            {{ item.someNumber }}
          </td>
          <!--someNumberDouble-->
          <td>
            {{ item.someNumberDouble }}
          </td>
          <!--someString-->
          <td>
            {{ item.someString }}
          </td>
          <!--someStringDateTime-->
          <td>
          {{ item.someStringDateTime | date:"MM/dd/yyyy" }}
          </td>
          <!--someStringEmail-->
          <td>
            {{ item.someStringEmail }}
          </td>
          <!--someStringUid-->
          <td>
            {{ item.someStringUid }}
          </td>
          <!--someStringUri-->
          <td>
            {{ item.someStringUri }}
          </td>
       </tr>
      </tbody>

      <!--footer-->
      <tfoot class="thead-default">
        <tr>
         <th>Actions</th>
         <th>Id</th>
         <th>Some Array</th>
         <th>Some Boolean</th>
         <th>Some Integer Int32</th>
         <th>Some Number</th>
         <th>Some Number Double</th>
         <th>Some String</th>
         <th>Some String Date Time</th>
         <th>Some String Email</th>
         <th>Some String Uid</th>
         <th>Some String Uri</th>
       </tr>
      </tfoot>
    </table>
    <div>
      <label id='itemsCountLabel'>{{ listWithCount?.count }}</label> items
    </div>
  </div>
</parentFilterAndPaging>

<pagination class="pagination-sm" 
  [totalItems]="paginationData.itemCount" 
  [(ngModel)]="paginationData.currentPage" 
  [maxSize]="paginationData.maxSize" 
  [boundaryLinks]="paginationData.isBoundaryLinks" 
  [rotate]="paginationData.isRotate" 
  (pageChanged)="pageChanged($event)"
  (numPages)="numPagesUpdated($event)"
  [itemsPerPage]="query.top"></pagination>