<div class="container">
  <div class="row">
    <div class="col-10">
      <input id="searchInput" [(ngModel)]="filterKeyword" placeholder="Search ..." class="form-control" />
    </div>
    <div class="form-group col-2">
      <button id="getButton" type="button" class="btn btn-secondary" (click)="updateFilter()" [attr.aria-label]="Search">Search</button>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="form-group col-4">
      <button class="btn btn-secondary" [attr.aria-label]="ShowAdvanced" (click)="isShowAdvancedFilters = !isShowAdvancedFilters"> {{ isShowAdvancedFilters ? "Hide Advanced" : "Show Advanced" }}</button>
    </div>
  </div>

  <br />

  <div *ngIf="isShowAdvancedFilters" class="row">
    <div class="form-group col-6">
      <select id="fieldSelect" class="form-control" [(ngModel)]="filterValue.filterField">
        <option *ngFor="let opt of fieldFilterModel" [value]="opt.value">{{ opt.display }}</option>
      </select>
    </div>
    <div class="form-group col-6">
      <select id="filterType" class="form-control" [(ngModel)]="filterValue.filterType">
        <option *ngFor="let opt of filterType" [value]="opt.value">{{ opt.display }}</option>
      </select>
    </div>
  </div>

  <div *ngIf="isShowAdvancedFilters" class="row">
    <div class="form-group col-3">
      <input [(ngModel)]="query.filter" placeholder="filter string" class="form-control" />
    </div>
    <div class="form-group col-3">
      <input [(ngModel)]="query.orderBy" placeholder="orderBy" class="form-control" />
    </div>
    <div class="form-group col-3">
      <input id="recordsPerPageInput" [(ngModel)]="query.top" placeholder="top" type="number" class="form-control" />
    </div>
    <div class="form-group col-3">
      <input [(ngModel)]="query.skip" placeholder="skip" type="number" class="form-control" />
    </div>
  </div>

  <div class="row">
    <ng-content select="[tableToInject]"></ng-content>
  </div>
</div>


<!-- NinjaCodeGen.com by DNAfor.NET -->