<div *ngIf="item && myForm" formToInject>
  <form (ngSubmit)="onSubmit()" [formGroup]="myForm" novalidate>
    <!--id - integer-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['id']?.invalid && (myForm.controls['id'].touched || isSubmitAttempted)}">
      <input id="idInput" #idInput [placeholder]="formMetaData.properties.id['x-ncg'].label" formControlName="id" type="number" class="form-control" />
      <div *ngFor="let error of formMetaData.properties.id['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--afterDate - string-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['afterDate']?.invalid && (myForm.controls['afterDate'].touched || isSubmitAttempted)}">
      <input id="afterDateInput" #afterDateInput [placeholder]="formMetaData.properties.afterDate['x-ncg'].label" formControlName="afterDate" type="date" class="form-control" />
      <div *ngFor="let error of formMetaData.properties.afterDate['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--age - integer-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['age']?.invalid && (myForm.controls['age'].touched || isSubmitAttempted)}">
      <input id="ageInput" #ageInput [placeholder]="formMetaData.properties.age['x-ncg'].label" formControlName="age" type="number" class="form-control" />
      <div *ngFor="let error of formMetaData.properties.age['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--beforeDate - string-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['beforeDate']?.invalid && (myForm.controls['beforeDate'].touched || isSubmitAttempted)}">
      <input id="beforeDateInput" #beforeDateInput [placeholder]="formMetaData.properties.beforeDate['x-ncg'].label" formControlName="beforeDate" type="date" class="form-control" />
      <div *ngFor="let error of formMetaData.properties.beforeDate['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--containsDPT - string-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['containsDPT']?.invalid && (myForm.controls['containsDPT'].touched || isSubmitAttempted)}">
      <input id="containsDPTInput" #containsDPTInput formControlName="containsDPT" type="text" [placeholder]="formMetaData.properties.containsDPT['x-ncg'].label" class="form-control"/>
      <div *ngFor="let error of formMetaData.properties.containsDPT['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--createdBy - integer-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['createdBy']?.invalid && (myForm.controls['createdBy'].touched || isSubmitAttempted)}">
      <input id="createdByInput" #createdByInput [placeholder]="formMetaData.properties.createdBy['x-ncg'].label" formControlName="createdBy" type="number" class="form-control" />
      <div *ngFor="let error of formMetaData.properties.createdBy['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--createdDate - string-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['createdDate']?.invalid && (myForm.controls['createdDate'].touched || isSubmitAttempted)}">
      <input id="createdDateInput" #createdDateInput [placeholder]="formMetaData.properties.createdDate['x-ncg'].label" formControlName="createdDate" type="date" class="form-control" />
      <div *ngFor="let error of formMetaData.properties.createdDate['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--creditCard - string-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['creditCard']?.invalid && (myForm.controls['creditCard'].touched || isSubmitAttempted)}">
      <input id="creditCardInput" #creditCardInput formControlName="creditCard" type="text" [placeholder]="formMetaData.properties.creditCard['x-ncg'].label" class="form-control"/>
      <div *ngFor="let error of formMetaData.properties.creditCard['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--date - string-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['date']?.invalid && (myForm.controls['date'].touched || isSubmitAttempted)}">
      <input id="dateInput" #dateInput [placeholder]="formMetaData.properties.date['x-ncg'].label" formControlName="date" type="date" class="form-control" />
      <div *ngFor="let error of formMetaData.properties.date['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--email - string-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['email']?.invalid && (myForm.controls['email'].touched || isSubmitAttempted)}">
      <input id="emailInput" #emailInput formControlName="email" type="text" [placeholder]="formMetaData.properties.email['x-ncg'].label" class="form-control"/>
      <div *ngFor="let error of formMetaData.properties.email['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--integer - integer-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['integer']?.invalid && (myForm.controls['integer'].touched || isSubmitAttempted)}">
      <input id="integerInput" #integerInput [placeholder]="formMetaData.properties.integer['x-ncg'].label" formControlName="integer" type="number" class="form-control" />
      <div *ngFor="let error of formMetaData.properties.integer['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--isActive - boolean-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['isActive']?.invalid && (myForm.controls['isActive'].touched || isSubmitAttempted)}">
      <input id="' + propKey + 'Input" #isActiveInput formControlName="isActive" type="checkbox" name="isActive_checkbox" class="form-control" />
      <div *ngFor="let error of formMetaData.properties.isActive['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--phone - string-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['phone']?.invalid && (myForm.controls['phone'].touched || isSubmitAttempted)}">
      <input id="phoneInput" #phoneInput formControlName="phone" type="text" [placeholder]="formMetaData.properties.phone['x-ncg'].label" class="form-control"/>
      <div *ngFor="let error of formMetaData.properties.phone['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--startsWithDPT - string-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['startsWithDPT']?.invalid && (myForm.controls['startsWithDPT'].touched || isSubmitAttempted)}">
      <input id="startsWithDPTInput" #startsWithDPTInput formControlName="startsWithDPT" type="text" [placeholder]="formMetaData.properties.startsWithDPT['x-ncg'].label" class="form-control"/>
      <div *ngFor="let error of formMetaData.properties.startsWithDPT['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--string - string-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['string']?.invalid && (myForm.controls['string'].touched || isSubmitAttempted)}">
      <input id="stringInput" #stringInput formControlName="string" type="text" [placeholder]="formMetaData.properties.string['x-ncg'].label" class="form-control"/>
      <div *ngFor="let error of formMetaData.properties.string['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--uid - string-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['uid']?.invalid && (myForm.controls['uid'].touched || isSubmitAttempted)}">
      <input id="uidInput" #uidInput formControlName="uid" type="text" [placeholder]="formMetaData.properties.uid['x-ncg'].label" class="form-control"/>
      <div *ngFor="let error of formMetaData.properties.uid['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--updatedBy - integer-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['updatedBy']?.invalid && (myForm.controls['updatedBy'].touched || isSubmitAttempted)}">
      <input id="updatedByInput" #updatedByInput [placeholder]="formMetaData.properties.updatedBy['x-ncg'].label" formControlName="updatedBy" type="number" class="form-control" />
      <div *ngFor="let error of formMetaData.properties.updatedBy['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--updatedDate - string-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['updatedDate']?.invalid && (myForm.controls['updatedDate'].touched || isSubmitAttempted)}">
      <input id="updatedDateInput" #updatedDateInput [placeholder]="formMetaData.properties.updatedDate['x-ncg'].label" formControlName="updatedDate" type="date" class="form-control" />
      <div *ngFor="let error of formMetaData.properties.updatedDate['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--url - string-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['url']?.invalid && (myForm.controls['url'].touched || isSubmitAttempted)}">
      <input id="urlInput" #urlInput formControlName="url" type="text" [placeholder]="formMetaData.properties.url['x-ncg'].label" class="form-control"/>
      <div *ngFor="let error of formMetaData.properties.url['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>

    <!--zip - string-->
    <div class="form-group" [ngClass]="{'has-danger': myForm.controls['zip']?.invalid && (myForm.controls['zip'].touched || isSubmitAttempted)}">
      <input id="zipInput" #zipInput formControlName="zip" type="text" [placeholder]="formMetaData.properties.zip['x-ncg'].label" class="form-control"/>
      <div *ngFor="let error of formMetaData.properties.zip['x-ncg'].errors" class="alert alert-danger">{{ error.message }}</div>
    </div>



    <button id="backButton" type="button" class="btn btn-secondary" (click)="goBack()" [attr.aria-label]="back">Back</button>
    <button id="cancelButton" type="button" class="btn btn-secondary" (click)="onCancel()" [attr.aria-label]="cancel">Cancel</button>
    <button id="resetButton" type="button" [disabled]="myForm.pristine" class="btn btn-secondary" (click)="onReset()" [attr.aria-label]="reset">Reset</button>
    <button id="deleteButton" type="button" class="btn btn-danger" (click)="onDelete()" [attr.aria-label]="delete">Delete</button>
    <button id="submitButton" type="submit" [disabled]="myForm.invalid && isSubmitAttempted" class="btn btn-primary" [attr.aria-label]="submit">Submit</button>
  </form>
</div>
